nav a{
    text-align: center;
    color: #fff;
    background: #0000ff;
    display: inline-block;
    width: 20%;
    margin-right: 2%;
    padding: 0 !important;
}

.current{
    color: #000000;
    background: #0fff00;
    text-transform: uppercase;
}

li{
    margin: 5px;
}

a{
    padding-left: 22px;
    text-decoration: none;
}

a[href$=".org"]{
    background: #ffff00;
}

a[href$=".edu"]{
    background: #ec00ff;
}

a[href$=".gov"]{
    background: #ec0000;
}